html{
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ZeZeLogo{
  display: block;
  height: 10%;
  width: 10%;
  margin: auto;
  max-height: 70px;
}

section{
    width: 100%;
    height: 100vh;
    background-size:  cover;
    scroll-snap-align: start;
    background-image: url(/Images/ZeZeCheese_Background_V2.png);
}

header{
  width: 100%;
  background-color: #000;
  position: fixed;
  border-style: solid;
  border-width: 5px;
  border: #A2A2A2;
  max-height: 70px;
}

.topbar{
  border-style: solid;
  border-width: 5px;
  border-top: #A2A2A2;
  border-left: #A2A2A2;
  border-right: #A2A2A2;
  z-index: 1;
}

.bottombar{
  position: fixed;
  bottom: 0;
  border-color: #A2A2A2;
  border-width: 5px;
  border-style: solid;
  border-left: #000;
  border-bottom: #000;
  border-right: #000;
  z-index: 1;
  height: 10%;
}

footer{
  max-height: 70px;
  width: 100%;
  background-color: #000;
}

.main_container, .Support_container{
  width: 30%;
  min-height: 10%;
  border-color: #A2A2A2;
  border-width: 5px;
  border-style: solid;
  border-radius: 35px;
  background-color: #000;
  position: relative;
  left: 25%;
  top: 28%;
  padding: 10%;
  text-align: center;
}

div.Icons {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
}

.Icon{
  max-block-size: 70px;
  min-block-size: 7px;
  margin: 0.5%;
  transition: 500ms;
}

#ABME, #PRJT, #CV {
  color: #fbd633;
  text-shadow: 2px 2px 5px #fbd633;
  width: 30%;
  font-size: 10vh;
  font-family: Agbalumo;
  background-color: #000;
  border-color: #fbd633;
  border-style: solid;
  border-radius: 25px;
  position: relative;
  left: 34.8%;
  top: 15%;
  text-align: center;
  padding: 0.2%;
}

.Profiel {
  max-width: 16%;
  height: auto;
  display: block;
  position: relative;
  border: #A2A2A2;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  padding: 0.2%;
  left: 1%;
  top: 13%;
}

.Second_container{
  font-size: 3vh;
  margin-top: -10%;
  width: 50%;
  min-height: 10%;
  border-color: #A2A2A2;
  border-width: 5px;
  border-style: solid;
  border-radius: 35px;
  background-color: #000;
  position: relative;
  left: 20%;
  top: 0%;
  padding: 5%;
  text-align: center;
}

.pro{
  background-color: #000;
  max-width: 16%;
  height: auto;
  position: relative;
  border: #A2A2A2;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  padding: 0.2%;
  left: 41.8%;
  margin-top: 11% ;
  padding: 0.2%;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition: 500ms;
}

.docu{
  width: 20%;
  min-height: 10%;
  border-color: #A2A2A2;
  border-width: 5px;
  border-style: solid;
  border-radius: 35px;
  background-color: #000;
  position: relative;
  left: 40%;
  text-align: center;
  margin-top: 5%;
  transition: 500ms;
}

@keyframes animation {
  from {background-color: #000;}
  to {background-color: #fbd633;}
}

.Icon:hover, .pro:hover, .docu:hover{
  transform: scale(1.1,1.1);
}

#phone:hover .tooltiptext5 {
  visibility: visible;
}
